
cocos2d/AUTHORS

cocos2d/AUTHORS

.cocos-project.json

cocos2d/

CMakeLists.txt

proj.android/

proj.android-studio/

proj.linux/

proj.win32/

proj.win10/

proj.win8.1-universal/

proj.wp8-xaml/
proj.ios_mac/MagicWars.xcodeproj/project.xcworkspace/xcshareddata/MagicWars.xccheckout

proj.ios_mac/MagicWars.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

proj.ios_mac/MagicWars.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate

proj.ios_mac/MagicWars.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

proj.ios_mac/MagicWars.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/MagicWars Mac.xcscheme

proj.ios_mac/MagicWars.xcodeproj/project.xcworkspace/contents.xcworkspacedata

proj.ios_mac/MagicWars.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/MagicWars iOS.xcscheme

Resources/data

proj.ios_mac/MagicWars.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/MagicWars-mobile.xcscheme

proj.ios_mac/MagicWars.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/MagicWars-desktop.xcscheme

proj.ios_mac/MagicWars.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
